
.service-box {
    position: relative;
    height: 25vw;
    width: 25vw;
    display: inline-block;
    background-color: transparent;
    margin: 0 1.33vw;
    z-index: 1;
    transition: .3s ease-in-out;
}
.card-back {
    margin-top: -20vw;
    margin-left: 2.5vw;
    margin-bottom: 2.5vw;
    position: relative;
    z-index: -1;
    color: purple;
    height: 20vw;
    width: 20vw;
    overflow: hidden;
    background-color: transparent;
    font-size: 1.8vw;
    transition: .3s ease;
}

.card-box {
    height: 25vw;
    max-width: 25vw;
    transition: all .3s ease-in-out;
    position: initial;
}
.card-box:hover, .card-box:active {
    max-width: 0;
    overflow: hidden;
    transition: all .3s ease-in-out;
}
.card-front div:hover {
    border: none!important;
    color: transparent;
    transition: all .3s ease-in-out;
}
.card-front > img {
    height: 25vw;
    width: 25vw;
    position: relative;
    z-index: -1;
    transition: all .3s ease-in-out;
}
.card-front > div {
    width: 19vw;
    height: 19vw;
    color: #FFF;
    border: 1px solid #FFF;
    box-sizing: border-box;
    position: absolute;
    z-index: 2;
    margin: 3vw;
}

.card-front > div > section:first-of-type {
    /* font-family: 'Montserrat', sans-serif; */
    text-transform: uppercase;
    font-weight: normal;
    font-size: 1.33vw;
    letter-spacing: .5vw;
    margin-top: 6vw;
}
.card-front > div > section:last-of-type {
    font-family: 'Merriweather', sans-serif;
    font-style: italic;
    font-size: 3vw;
}

@media screen and (max-width: 945px) {
    .service-box {
        height: 90vw;
        width: 90vw;
        display: block;
        background-color: #000;
        margin: 5vw;
    }
    .service-box > div > img {
        height: 90vw;
        width: 90vw;
    }
    .service-box > div > div {
        width: 75vw;
        height: 75vw;
        margin: 7.5vw;
    }
    .service-box > div > div > section:first-of-type {

        font-size: 7vw;
        letter-spacing: .5vw;
        margin-top: 16vw;
    }
    .service-box > div > div > section:last-of-type {
        font-size: 12vw;
    }
}