
.home-main-top div.service-box {
    transform: scale(.7);
    }
    .service-container {


position: relative;


    }

.service-box {
    position: relative;
    height: 25vw;
    width: 25vw;
    display: inline-block;
    vertical-align: top;
    background-color: transparent;
    margin: 0 1.33vw;
    z-index: 1;
    transition: all .3s ease-in-out;
}
.card-back {
    margin-top: -20vw;
    margin-left: 2.5vw;
    margin-bottom: 2.5vw;
    position: relative;
    z-index: -1;
    color: #744A9E;
    height: 20vw;
    width: 20vw;
    overflow: hidden;
    background-color: transparent;
    font-size: 1.8vw;
    transition: .3s ease;
}

.card-box {
    height: 25vw;
    max-width: 25vw;
    transition: all .5s ease-in-out;
    position: initial;
    transition-delay: .5s;
    background-size: cover;
}
.card-box.card-hover:hover, .card-box.card-hover:active {
    max-width: 0;
    overflow: hidden;
    transition: all .5s ease-in-out;
    transition-delay: .5s;
    background: transparent;
    background-size: cover;
}

.card-front-data.card-hover:hover {
    border: 1px solid transparent!important;
    color: transparent;
    transition: all .3s ease-in-out;
    transition-delay: .2s;
    background-color: transparent;
}
.card-front-data.pop-hover:hover {
    border: 1px solid #669F35!important;
    color: rgb(191, 158, 200);
    background-color: transparent;
    /* color: #965ba5; */
    transition: all .3s ease-in-out;
    transition-delay: .2s;
}
.card-front > img {
    height: 25vw;
    width: 25vw;
    position: relative;
    z-index: -1;
    transition: all .3s ease-in-out;
}
.card-front-data {
    width: 19vw;
    height: 19vw;
    color: #FFF;
    border: 1px solid #FFF;
    box-sizing: border-box;
    position: absolute;
    z-index: 2;
    margin: 3vw;
    transition: all .3s ease-in-out;
    transition-delay: .5s;
}

.card-front-data > section:first-of-type {
    text-transform: uppercase;
    font-weight: normal;
    font-size: 1.33vw;
    letter-spacing: .5vw;
    margin-top: 6vw;
}
.card-front-data > section:last-of-type {
    font-family: 'Merriweather', sans-serif;
    font-style: italic;
    font-size: 3vw;
}

.optionBtn {
    margin-top: 5vw;
}


@media screen and (max-width: 945px) {
    .home-container > div.service-box > div.card-box {
        margin: -12vw 0;
    }
    .service-box {
        height: 80vw;
        width: 80vw;
        display: block;
        margin: -5vw 10vw !important;
    }

    .card-box {
        height: 80vw;
        max-width: 80vw;
        margin: 15vw 0;
    }
    .card-front-data {
        width: 60vw;
        height: 60vw;
        margin: 10vw;
    }
    .card-back {
        height: 60vw;
        width: 60vw;
        margin-left: 10vw;
        margin-top: -70vw;
        font-size: 5vw;
    }
    .card-front-data > section:first-of-type {
        font-size: 6vw;
        margin-top: 16vw;
    }
    .card-front-data > section:last-of-type {
        font-size: 11vw;
    }
    .optionBtn {
        margin-top: 15vw;
    }
    .optionBtn button {
        margin: 2.5vw;

        width: 80vw;
        height: 68px;
        font-size: 4.5vw;
    }
}