section.main-title.white {
    font-size: 36px;
    line-height: 30px;
    text-align: center;
    text-transform: uppercase;
    color: #FFFFFF;
    margin-bottom: 20px;
}

section.main-content-box > div:first-of-type {
    display: inline-block;
    width: 47vw;
    margin-left: 10vw;
    margin-right: 5vw;
    float: left;
    color: #fff;
    text-align: left;
    font-style: normal;
    font-weight: 300;
    font-size: 16px;
    line-height: 30px; 
    color: #fff;
}
section.main-content-box > div:last-of-type {
    display: inline-block;
    width: 28vw;
    margin-top: 10px;
    margin-right: 10vw;
    float: right;
}

section.main-content-box {
    padding-bottom: 30px;
}

.wellness-main-container button {
    margin: 0 10px;
    width: 32vw;
}


/* .header-two {
    margin: 20px auto;
    font-size: 36px;
    line-height: 30px;
    text-align: center;
    text-transform: uppercase;
    color: #965BA5;
} */
@media screen and (max-width: 945px){
    .wellness-main-container button {
        margin: 5px;
        width: 80vw;
        height: 68px;
        font-size: 4.5vw;
    }
}