div.why-container {
    position: relative;
}

.why-container > div {
    width: 50vw;
    height: 50vw;
    background-color: #E0CEE5;    
}
.why-container img {
    width: 50vw;
    height: 50vw;
}

.why-container > div:first-of-type {
    float: left;
    background-image: url(../meet-background.png);
    text-align: left;
}
.why-container > div:last-of-type {
    float: right;  
}

.why-container > div > div {
    width: 32vw;
    height: 32vw;
    margin: 4vw;
    border: 1px solid #965BA5;
    background: #E0CEE5;
    padding: 3vw 5vw 7vw 5vw;
}

.why-container section {
    font-style: normal;
}

.why-container > div > div > section:first-of-type {
    font-family: Merriweather;
    font-style: italic;
    font-weight: 300;
    font-size: 2.8vw;
    line-height: 5vw;
    letter-spacing: .33vw;
    color: #965BA5;
}
.why-container > div > div > section:nth-of-type(2), .why-container > div > div > section:nth-of-type(4) {
    font-weight: normal;
    font-size: 1.3vw;
    line-height: 1.5vw;
    letter-spacing: .03vw;
    text-transform: uppercase;
    color: #FFFFFF;
}
.why-container > div > div > section:nth-of-type(3) {
    font-weight: 300;
    font-size: 1.25vw;
    line-height: 1.5vw;
    color: #965BA5;
    margin: 1vw 0;
    height: 19vw;
    overflow: auto;
    background-color: transparent;
    transition: all .3s ease-in-out;
    transition-delay: .5s!important;
}
.why-container > div > div > ul {
    font-weight: bold;
    font-size: 1vw;
    line-height: 1.5vw;
    padding-inline-start: 2vw;
    text-transform: uppercase;
    color: #965BA5;
    transition: all .3s ease-in-out;
}
.why-container > div > div > ul > li:last-of-type {
    text-transform: lowercase!important;
    list-style-type: none;
}
@media screen and (max-width: 945px) {
    .why-container > div {
        width: 100vw;
        height: 100vw;
    }
    .why-container img {
        width: 100vw;
        height: 100vw;
    }
    
    .why-container > div:first-of-type, .why-container > div:last-of-type {
        float: off;
    }

    .why-container > div > div {
        width: 70vw;
        height: 70vw;
        margin: 10vw;
        border: 1px solid #965BA5;
        background: #E0CEE5;
        padding: 5vw;
    }
    .why-container > div > div > section:first-of-type {
        font-size: 7vw;
        letter-spacing: .33vw;
        color: #965BA5;
    }
    .why-container > div > div > section:nth-of-type(2), .why-container > div > div > section:nth-of-type(4) {
        font-size: 3.1vw;
        line-height: 9vw;
    }
    .why-container > div > div > section:nth-of-type(3) {
        font-size: 3.3vw;
        line-height: 3vw;
        margin: 2vw 0;
        height: 34vw;
    }
    .why-container > div > div > section:nth-of-type(4) {
        font-size: 3vw;
        line-height: 4vw;
        margin-top: 2vw;
    }
}