div.meetStephanie-container {
    position: relative;
}

.meetStephanie-container > div {
    width: 50vw;
    height: 50vw;
    background-color: #E0CEE5;    
}
.meetStephanie-container img {
    width: 50vw;
    height: 50vw;
}

.meetStephanie-container > div:first-of-type {
    float: left;
    background-image: url(../meet-background.png);
    text-align: left;
}
.meetStephanie-container > div:last-of-type {
    float: right;  
}

.meetStephanie-container > div > div {
    width: 30vw;
    height: 30vw;
    margin: 5vw;
    border: 1px solid #965BA5;
    background: #E0CEE5;
    padding: 3vw 5vw 7vw 5vw;
}

.meetStephanie-container section {
    font-style: normal;
}

.meetStephanie-container > div > div > section:first-of-type {
    font-family: Merriweather;
    font-style: italic;
    font-weight: 300;
    font-size: 3.8vw;
    line-height: 5vw;
    letter-spacing: 1px;
    color: #965BA5;
}
.meetStephanie-container > div > div > section:nth-of-type(2) {
    font-weight: normal;
    font-size: 1.3vw;
    line-height: 1.5vw;
    letter-spacing: 3px;
    text-transform: uppercase;
    color: #FFFFFF;
}
.meetStephanie-container > div > div > section:nth-of-type(3) {
    font-weight: 300;
    font-size: 1.1vw;
    line-height: 1.5vw;
    color: #965BA5;
    margin: 1vw 0;
    height: 19vw;
    overflow: auto;
}
.meetStephanie-container > div > div > section:nth-of-type(4) {
    font-weight: bold;
    font-size: 1vw;
    line-height: 1.8vw;
    text-transform: uppercase;
    color: #965BA5;
}

@media screen and (max-width: 945px) {
    .meetStephanie-container > div {
        width: 100vw;
        height: 100vw;
    }
    .meetStephanie-container img {
        width: 100vw;
        height: 100vw;
    }
    
    .meetStephanie-container > div:first-of-type, .meetStephanie-container > div:last-of-type {
        float: off;
    }

    .meetStephanie-container > div > div {
        width: 70vw;
        height: 70vw;
        margin: 10vw;
        border: 1px solid #965BA5;
        background: #E0CEE5;
        padding: 5vw;
    }
    .meetStephanie-container > div > div > section:first-of-type {
        font-size: 7vw;
        letter-spacing: 1px;
        color: #965BA5;
    }
    .meetStephanie-container > div > div > section:nth-of-type(2) {
        font-size: 3.1vw;
        line-height: 9vw;
    }
    .meetStephanie-container > div > div > section:nth-of-type(3) {
        font-size: 3.3vw;
        line-height: 3vw;
        margin: 2vw 0;
        height: 34vw;
    }
    .meetStephanie-container > div > div > section:nth-of-type(4) {
        font-size: 3vw;
        line-height: 4vw;
        margin-top: 2vw;
    }
}