div.scrollmenu {
    background-color: rgba(150, 91, 165, 0.1);;
    overflow: auto;
    white-space: nowrap;
  }
  
  div.scrollmenu section {
    display: inline-block;
    color: white;
    text-align: center;
    padding: 14px;
    text-decoration: none;
  }
  
  div.scrollmenu section:hover {
    background-color: transparent;
  }

  a, a:visited {
    color: rgba(71, 62, 78, 0.6);
    text-decoration: none;
  }
  a:hover {
    color: green;
  }