div.lotus-box {
    position: relative;
    overflow: hidden;
}

.lotus-box > div:first-of-type {
    background-color: #965BA5;
    width: 60vw;
    height: 60vw;
    border-radius: 100%;
    margin: -25vw 20vw;
    position: absolute;
}
.lotus-box > div > section {
    font-style: normal;
    font-weight: normal;
    text-align: center;
    text-transform: uppercase;
    width: 60vw;
    line-height: 3vw;
    position: absolute;
    z-index: 171;
    color: #FFF;
}
.lotus-box > div:last-of-type > section:first-of-type {
    font-size: 2.2vw;
    margin: 2vw 20vw;
}

.lotus-box > div:last-of-type > section:last-of-type {
    font-size: 1vw;
    margin: 6vw 22vw;
    width: 56vw;
}

.lotus-box > section {
    width: 43.5vw;
    display: inline-block;
    height: 75vw;
    position: relative;
    font-size: 2.4vw;
}
.lotus-box > section:first-of-type {
    background-color: transparent;
    text-align: right;
    padding: 0 2.5vw 0 4vw;
}
.lotus-box > section:last-of-type {
    background-color: rgba(150, 91, 165, 0.6);
    text-align: left;
    padding: 0 4vw 0 2.5vw;
}

.lotus-box img {
    position: absolute;
    z-index: 11;
    margin-top: 10vw;
    height: 30vw;
    width: 30vw;
}
.lotus-box > section:first-of-type > img {
    right: 0;
}
.lotus-box > section:last-of-type > img {
    left: 0
}

.lotus-box > section > div {
    font-family: Merriweather;
    font-style: italic;
    font-weight: normal;
    font-size: 3vw;
    line-height: 3.2vw;
    margin-top: 40vw;
    margin-bottom: 2.2vw;
    color: #744A9E;
}
.lotus-box > section:first-of-type > div {
    text-align: right;
}
.lotus-box > section:last-of-type > div {
    text-align: left;
}
.lotus-box > section > section {
        font-size: 1.75vw !important;
        min-height: 15vw;
}
.lotus-box > section:first-of-type > section {
    color: #000;
}
.lotus-box > section:last-of-type > section {
    color: #FFF;
}

.lotus-box button {
    margin-top: 4vw;
}

.lotus-desktop-button {
    display: inline-block;
}
.lotus-mobile-button {
    display: none;
}

@media screen and (max-width: 945px){
    .lotus-box > div > section {
        width: 60vw;
        line-height: 3vw;
    }
    .lotus-box > div:last-of-type > section:first-of-type {
        font-size: 2.2vw;
        margin: 2vw 20vw;
    }
    .lotus-box > div:last-of-type > section:last-of-type {
        font-size: 1vw;
        margin: 6vw 20vw;
    }
    
    .lotus-box > section {
        height: 75vw;

    }
    .lotus-box > section:first-of-type {
        padding: 0 2.5vw 0 4vw;
    }
    .lotus-box > section:last-of-type {
        background-color: rgba(150, 91, 165, 0.6);
        text-align: left;
        padding: 0 4vw 0 2.5vw;
    }
    
    .lotus-box img {
        position: absolute;
        z-index: 11;
        margin-top: 10vw;
        height: 30vw;
        width: 30vw;
    }
    .lotus-box > section > section {
        font-size: 2.2vw !important;
        min-height: 15vw;
    }
    .lotus-box > section:first-of-type > img {
        right: 0;
    }
    .lotus-box > section:last-of-type > img {
        left: 0
    }

    .lotus-box > section:first-of-type > div {
        text-align: right;
    }
    .lotus-box > section:last-of-type > div {
        text-align: left;
    }
    
    .lotus-box button {
        margin-top: 4vw;
        font-size: 2.7vw;
        padding: 2vw 4vw;
    }
    .lotus-desktop-button {
        display: none;
    }
    .lotus-mobile-button {
        display: inline-block;
    }
}