.contact-container {
    position: fixed;
    z-index: 50;
    width: 100vw;
    height: 100vh;
    padding: 0 0 3vw 0;
    background: rgba(255, 255, 255, .7);
    overflow: scroll;   
}
@media screen and (max-width: 700px) {
    .contact-container {
        background: rgba(255, 255, 255, 1);
    }
}

button.selectedHighlighted {
    background-color: rgba(150, 91, 165, 0.6)!important;
}

/* #referral .close, #contact .close {
    padding: 10px 25px !important;
    float: right;
}

@media screen and (max-width: 945px) {
    #referral .close, #contact .close {
        padding: 5px 12px !important;
        position: absolute;
        z-index: 888888;
        right: 0;
    }
} */