div.scrollmenu {
  background-color: rgba(150, 91, 165, 0.1);;
  overflow: auto;
  white-space: nowrap;
  transition: all .3s ease-in-out;
}
  
div.scrollmenu section {
  height: 80px;
  display: inline-block;
  padding: 14px;
  margin: 10px;
  position: relative;
}
div.scrollmenu img {
  height: 80px;
}

div.scrollmenu:hover {
  background-color: rgba(150, 91, 165, 0.2);
  transition: all .3s ease-in-out;
}