/* div.scrollmenu {
  background-color: rgba(150, 91, 165, 0.2);;
  overflow: auto;
  white-space: nowrap;
  transition: all .3s ease-in-out;
}
div.scrollmenu div {
  transition: all 80s ease-in-out;
} */
div.scrollmenu.carousel > div {
  transform: translateX(-200%);
  transition: all 80s ease-in-out;
}

/* div.scrollmenu section {
  height: 80px;
  display: inline-block;
  vertical-align: top;
  padding: 14px;
  margin: 10px;
  position: relative;
}
div.scrollmenu img {
  height: 80px;
}

div.scrollmenu:hover {
  background-color: rgba(150, 91, 165, 0.3);
  transition: all 5s ease-in-out;
} */