.pack-container {
    width: 24vw;
    margin: 0 2vw 50px 2vw;
    display: inline-block;
    color: #965BA5;
    position: relative;
}

.pack-container img{
    height:130px;
    width: 130px;
    border-radius: 100%;
    border: 5px solid #fff;
    overflow: hidden;
    margin: 0 auto 0 auto;
    position: relative;
    z-index: 5;
}

.price-pack-box {
    background: rgba(150, 91, 165, 0.15);
    height: 350px;
    margin-top: -70px;
    padding-top: 80px;
    position: relative;
    width: 24vw;
    margin-bottom: -70px;
}

.price-pack-box section {
    padding-right: 3vw;
    padding-left: 3vw;
    color: #744A9E;
    font-size: 1.1vw;
}

.price-pack-box section:first-of-type {
    font-family: 'Merriweather', sans-serif;
    font-weight: bold;
    font-size: 2vw;
    margin-bottom: 5px;
}
.price-pack-box section:nth-of-type(3) {
    margin: 1vw 0 0;
    font-size: 1.4vw;
    font-weight: bold;
    color: #669F35;
}
.price-pack-box section:nth-of-type(4) {
    margin: 0 0 1.5vw 0;
    font-size: 1.4vw;
    font-weight: normal;
    color: #669F35;
}
.price-pack-box section:last-of-type {
margin: 30px auto 20px auto;
color: #000;
position: absolute;
bottom: 90px;
font-size: 1vw;
right: 0
}

.pack-container button {
    margin-top: -20px;
    position: relative;

}

@media screen and (max-width: 945px){
    .pack-container {
        width: 80vw;
        margin: 0 auto 50px auto;
        display: block;
        /* color: #965BA5; */
        /* position: relative; */
    }
    .price-pack-box {
        /* background: rgba(150, 91, 165, 0.15); */
        /* height: 470px; */
        height: 90vw;
        /* margin-top: -70px; */
        padding-top: 80px;
        /* position: relative; */
        width: 80vw;
        /* margin-bottom: -70px; */
    }
    .price-pack-box section {
        padding-right: 5vw;
        padding-left: 5vw;
    }
    .price-pack-box section:first-of-type {
        /* font-family: 'Merriweather', sans-serif; */
        /* font-weight: bold; */
        font-size: 7vw;
        /* margin-bottom: 5px; */
    }
    .price-pack-box section {
        /* font-family: 'Merriweather', sans-serif; */
        /* font-weight: bold; */
        /* color: #744A9E; */
        font-size: 4vw;
        /* margin-bottom: 5px; */
    }
    .price-pack-box section:nth-of-type(3), .price-pack-box section:nth-of-type(4) {
        /* margin: 2vw 0; */
        font-size: 5vw;

        /* color: #669F35; */
    }
    .price-pack-box section:last-of-type {
        /* font-family: 'Merriweather', sans-serif; */
        /* font-weight: bold; */
        font-size: 3.5vw;
        /* margin-bottom: 5px; */
        margin: 6vw auto 1vw auto;
        color: #000;
        position: absolute;
        bottom: 80px;
    }
    .pack-container button {
        margin-top: 0px;
        position: relative;
    }
}