.pack-container {
    width: 24vw;
    margin: 0 2vw 50px 2vw;
    display: inline-block;
    color: #965BA5;
    position: relative;
}

.pack-container img{
    height:130px;
    width: 130px;
    border-radius: 100%;
    border: 5px solid #fff;
    overflow: hidden;
    margin: 0 auto 0 auto;
    position: relative;
    z-index: 5;
}

.price-pack-box {
    background: rgba(150, 91, 165, 0.15);
    height: 470px;
    margin-top: -70px;
    padding-top: 90px;
    position: relative;
    width: 24vw;
    margin-bottom: -70px;
}

.price-pack-box section {
    padding-right: 3vw;
    padding-left: 3vw;
}

.price-pack-box section:first-of-type {
    font-family: 'Merriweather', sans-serif;
    font-weight: bold;
    font-size: 2vw;
    margin-bottom: 5px;
}
.price-pack-box section:last-of-type {
margin: 30px 5px 20px 5px;
}

.pack-container button {
    margin-top: -20px;
    position: relative;

}

@media screen and (max-width: 945px){
    .pack-container {
        width: 80vw;
        margin: 0 auto 50px auto;
        display: block;
        /* color: #965BA5; */
        /* position: relative; */
    }
    .price-pack-box {
        /* background: rgba(150, 91, 165, 0.15); */
        /* height: 470px; */
        height: 90vw;
        /* margin-top: -70px; */
        padding-top: 80px;
        /* position: relative; */
        width: 80vw;
        /* margin-bottom: -70px; */
    }
    .price-pack-box section {
        padding-right: 10vw;
        padding-left: 10vw;
    }
    .price-pack-box section:first-of-type {
        /* font-family: 'Merriweather', sans-serif; */
        /* font-weight: bold; */
        font-size: 7vw;
        /* margin-bottom: 5px; */
    }
    .price-pack-box section:nth-of-type(2) {
        /* font-family: 'Merriweather', sans-serif; */
        /* font-weight: bold; */
        font-size: 4vw;
        /* margin-bottom: 5px; */
    }
    .price-pack-box section:last-of-type {
        /* font-family: 'Merriweather', sans-serif; */
        /* font-weight: bold; */
        font-size: 3.5vw;
        /* margin-bottom: 5px; */
        margin: 6vw auto 1vw auto;
    }
    .pack-container button {
        margin-top: 0px;
        position: relative;
    }
}