.point-box {
    position: relative;
    height: 20vw;
    width: 20vw;
    display: inline-block;
    background-color: black;
    margin: 12px;
}
.point-box > img {
    height: 20vw;
    width: 20vw;
    position: relative;
    z-index: 1;
}
.point-box > div {
    width: 16vw;
    height: 16vw;
    color: white;
    border: 1px solid #FFFFFF;
    box-sizing: border-box;
    position: absolute;
    z-index: 2;
    margin: 2vw;
}
.point-box > div > section:first-of-type {
    font-family: 'Montserrat', sans-serif;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 1.2vw;
    letter-spacing: .5vw;
    margin-top: 5vw;
}
.point-box > div > section:last-of-type {
    font-family: 'Merriweather', sans-serif;
    font-style: italic;
    font-size: 3vw;
}

@media screen and (max-width: 945px) {
    .point-box {
        transform: scale(2);
        margin: 12vw;
    }
}