
.custom-quote {
    margin: -150px 0 0;
    height: 20vw;
    padding: 16vw 0 0;
    background-color: rgba(150, 91, 165, 0.6);
}
/* 
.purple-content > h1 {
    font-weight: normal;
    color: #FFFFFF;
}
.purple-content > section > div:first-of-type {
    display: inline-block;
    vertical-align: top;
    width: 50vw;
    font-size: 1.5vw;
    margin-left: 10vw;
    margin-right: 2.5vw;
    float: left;
    color: #fff;
    text-align: left;
}
.purple-content > section > div:last-of-type {
    display: inline-block;
    vertical-align: top;
    width: 27.5vw;
    margin-right: 10vw;
    float: right;
    text-align: center;
} */
@media screen and (max-width: 945px){
    /* .purple-content > h1 {
        padding: 2.5vw;
    } */

    .custom-quote {
        margin: -40vw 0 0;
        height: 68vw;
        padding: 42vw 0 4vw 0;
    }
    /* .purple-content > section > div:first-of-type {
        display: block;
        width: 80vw;
        font-size: 3vw;
        margin-left: 10vw;
        margin-right: 2.5vw;
        margin-bottom: 4vw;
        float: none;
        text-align: justify;
    }
    .purple-content > section > div:last-of-type {
        display: block;
        float: none;
        width: 100%;
    } */
}