.contact-container {
    position: fixed;
    z-index: 50;
    width: 100vw;
    height: 100vh;
    padding: 0 0 3vw 0;
    background: rgba(255, 255, 255, .7);
    overflow: hidden;
}

.form-container {
    position: relative;
    background: white;
    box-shadow: 0px 0px 20px rgba(0,0,0,.5);
    width: 94vw;
    padding: 3vh 3vw;
    max-width: calc(600px - 6vw);
    max-height: 85vh;
    margin: 5vh auto 20px;
    text-align: center;
    overflow: auto;
}

.contact-box > input {
    width: 43%;
    height: 36px;
    border: solid lightgray 1px;
    margin: 3px 1.5%;
    font-weight: 600;
    font-size: 16px;
    line-height: 20px;
    color: #473E4E;
}
.contact-box > input:last-of-type, .contact-box > input:nth-last-of-type(2) {
    width: 90%;
}

.contact-box > textarea {
    width: 90%;
    border: 1px solid lightgray;
    height: 150px;
    margin: 5px 0;
    font-weight: 500;
    font-size: 14px;
    line-height: 20px;
    color: #473E4E;
    margin: 5px 0 20px 0;
}

.contact-box section {
    text-align: left;
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 17px;
    color: #744A9E;
    width: 90%;
    margin: auto;
}
.contact-box > button {
    margin: 0 auto;
}
button.select-service {
    width: 150px;
    font-size: 20px;
    padding: 5px 15px;
    margin: 5px;
}
button.selectedHighlighted {
    background-color: rgba(150, 91, 165, 0.6);
}

#referral .close, #contact .close {
    padding: 10px 25px !important;
    float: right;
}

@media screen and (max-width: 945px) {
    .form-container {
        max-height: 94vh;
        overflow: auto;
    }
    .contact-box section {
        text-align: left;
        font-style: normal;
        font-weight: 600;
        font-size: 14px;
        line-height: 17px;
        color: #744A9E;
        width: 90%;
        margin: auto;
    }
    .contact-box > textarea {
        width: 90%;
        height: 150px;
        margin: 5px 0;
        font-weight: 500;
        font-size: 14px;
        line-height: 20px;
        color: #473E4E;
    }
    .contact-box > input {
        width: 90%;
        height: 48px;
        margin: 3px 0;
        font-weight: 600;
        font-size: 16px;
        line-height: 20px;
    }
    .contact-box > button {
            width: 44%;
    }  
    #referral .close, #contact .close {
        padding: 5px 12px !important;
        position: absolute;
        z-index: 888888;
        right: 0;
    }
};