.benefits-box {
    width: 100vw;
}
.benefits-box > section {
    font-family: Montserrat;
    font-style: normal;
    font-weight: normal;
    font-size: 36px;
    line-height: 30px;
    /* identical to box height, or 83% */

    text-align: center;
    text-transform: uppercase;

    color: #965BA5;
}