#menu.active {
  max-width: 40vw;
}

#contact.active, #referral.active, #email.active {
  max-width: 100vw;
}
.active {
  max-height: 100vh;
  width: 100%;
  height: 100%;
  transition: .8s ease-in-out;
}
#menu.inactive {
  max-height: 100vh;
  font-size: 1px;
  color: transparent!important;
}
#contact.inactive, #referral.inactive, #email.inactive{
  max-height: 0px;
}
.inactive {
  max-width: 0;
  transition: .8s ease-in-out;
  transition-delay: .3s !important;
}
.nav-active {
  color:#965BA5 !important;
}
@media screen and (max-width: 945px){
  #menu.active {
    max-width: 100vw;
  }
  .active {
    max-width: 100vw;
  }
}

.header-logo > div {
  display: inline-block;
}
.header-logo-text > section {
  text-align: left;
}
.header-logo-text .pranaText {
  color: #744A9E !important;
  font-size: 52px;
  font-weight: light;
}
.header-logo-text .wellnessText {
  color: #965BA5 !important;
  font-size: 20px;
  font-weight: bold;
  margin-top: -10px;
  margin-left: 5px;
}

.header-logo {
  float: left;
  margin-left: 10vw;
  margin-top: 30px;
}
@media screen and (max-width: 945px) {

  .header-logo {
    margin-left: 0;
    margin-top: 12px;
  }
  
 

}

.top-header-text {
  font-size: 2.75vw;
  text-align: center;
  letter-spacing: .4vw;
}
.bottom-header-text {
  font-family: 'Merriweather', sans-serif;
  font-style: italic;
  font-size: 6vw;

  text-align: center;
  letter-spacing: .3vw;
  color: #FFF;
}

.main-title-two {
  font-size: 36px;
  padding-top: 60px;
  text-align: center;
  text-transform: uppercase;
  color: #965BA5;
}


.wellness-main-container > section {
  color: #FFF;
  position: relative;
  z-index: 1;
}

.main-cta {
  font-style: normal;
  font-weight: 300;
  font-size: 1.6vw;
  width: 80vw;
  margin: 3vw 10vw 6vw;
  text-align: center;
  color: #4D3B5C;
}

@media screen and (max-width: 945px) {
 
  .main-cta {
    width: 90vw;
    margin: 5vw;
    font-size: 2.5vw;
  }

}
