/* CREATE GRID */
/* Grid is basic, blog styl, need nav header main footer, the rest can be inline-block */
/* Mobile shall be scalable to screen size */
/* Tablet to DeskTop shall be fixed content with scalable margins */
/*********************************************************************************************************/
/***************************************                           ***************************************/
/***************************************           LOGO            ***************************************/
/***************************************          STYLING          ***************************************/
/***************************************                           ***************************************/
/*********************************************************************************************************/
.pranaText, .wellnessText {
  text-align: center;
  color: #FFF;
}
.pranaText {
  font-family: 'Montserrat', sans-serif;
  text-transform: uppercase;
  font-weight: 100;
}
.wellnessText {
  font-family: 'Merriweather', sans-serif;
  font-style: italic;
  text-transform: lowercase;
}
.logo-box {
  width: 160px;
}
.logo-box img {
  margin: 0 10%;
  width: 80%;
}
.logo-box .pranaText {
  font-size: 26px;
  letter-spacing: 11px;
  margin-top: -10px;
  margin-left: 11px;
}
.logo-box .wellnessText {
  font-size: 14px;
  margin-top: -6px;
}
/*********************************************************************************************************/
/***************************************                           ***************************************/
/***************************************           GRID            ***************************************/
/***************************************         CONTAINER         ***************************************/
/***************************************                           ***************************************/
/*********************************************************************************************************/
.grid-container {
  display: grid;
  width: 100vw;
  min-height: 100vh;
  grid-template-rows: 46px 190px 738px auto 256px;
  /* grid-template-columns: 100vw; */
  background-color: #fff;
  grid-gap: 0;
  margin: 0;
grid-template-areas:
  ' contact '
  ' nav '
  ' header '
  ' main '
  ' footer ';
  grid-gap: 0;
} 

@media screen and (max-width: 945px) {
  .grid-container {
    /* display: grid; */
    /* width: 100vw; */
    /* min-height: 100vh; */
    grid-template-rows: 72px 100vw auto 46px 256px;
    /* grid-template-columns: 100vw; */
    /* background-color: #fff; */
    /* grid-gap: 0; */
    /* margin: 0; */
  grid-template-areas:
    ' nav '
    ' header '
    ' main '
    ' contact '
    ' footer ';
      /* grid-gap: 0; */
  }
}
/*************************************************************************************************************/
/***************************************         .grid-contact         ***************************************/
/*************************************************************************************************************/
.grid-contact {
  grid-area: contact;
  background-color: #965BA5;
  position: relative;
}
.grid-contact > img {
  height: 22px;
  width: 22px;
  position: absolute;
  left: calc(100vw - 460px);
  top: 12px;
}
.grid-contact > section {
  position: absolute;
  width: 268px;
  height: 24px;
  left: calc(100vw - 400px);
  top: 12px;
  font-family: Montserrat;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 30px;
  display: flex;
  align-items: center;
  text-align: right;
  text-transform: uppercase;
  color: #FFFFFF;
}
/*********************************************************************************************************/
/***************************************         .grid-nav         ***************************************/
/*********************************************************************************************************/
.grid-nav {
  grid-area: nav;
  background-color: transparent;
  position: relative;
  z-index: 1;
  color: white;
}
.nav-active {
  background-color: rgb(128, 0, 128, .5)
}
.nav-container .open {
  max-width: 320px !important;
  max-height: 500px !important;
  width: 100%;
  height: 100%;

}
.nav-container {
  position: absolute;
  right: 0;
  z-index: 11;
  max-width: 0;
  max-height: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
  transition: 3s ease-in-out;
  color: white !important;
  background-color: white;
}

.home-hamburger {
  float: right;
  margin: 30px 40px 0 0;
}
.home-hamburger > section {
  width: 35px;
  height: 4px;
  background-color: #FFF;
  margin: 6px 0;
}
.home-logo {
  float: left;
  margin-left: 40px;
  margin-top: 30px;
}
@media screen and (max-width: 945px) {
  .home-hamburger {
    float: right;
    margin-right: 20px;
    margin-top: 20px;
  }
}
/************************************************************************************************************/
/***************************************         .grid-header         ***************************************/
/************************************************************************************************************/
.grid-header {
  grid-area: header;
  background: url(home-header.png);
  background-size:cover;
  margin-bottom: -50px;
  margin-top: -190px;
}
.home-header {
  margin-top: 109px;
  color: #FFF;
  text-align: center;
}

.welcomeText, .pranaText, .statementText {
  font-family: 'Montserrat', sans-serif;
  text-align: center;
}



.home-header > .welcomeText {
  font-size: 28px;
  line-height: 48px;
  letter-spacing: 3px;
  font-weight: bold;
  color: #A0CD4D;
  text-transform: uppercase;
}
.home-header > .pranaText {
  font-size: 88px;
  letter-spacing: 50px;
  font-weight: 100;
}
.home-header > .wellnessText {
  font-size: 65px;
}
.home-header > .statementText {
  font-weight: 100;
  font-size: 24px;
  line-height: 48px;
  margin-top: 67px;
  padding: 0 10px;
}
@media screen and (max-width: 945px) {
  .grid-header {
    margin-bottom: -50px;
    margin-top: -72px;
  }
  .home-header > .welcomeText {
    font-size: 5vw;
    /* line-height: 48px; */
    /* letter-spacing: 3px; */
  }
  .home-header > .pranaText {
    font-size: 14vw;
    letter-spacing: 5vw;
  }
  .home-header > .wellnessText {
    font-size: 10vw;
  }
  .home-header > .statementText {
    font-weight: 100;
    font-size: 4vw;
    line-height: 7vw;
    margin-top: 12vw;
  }
}
/**********************************************************************************************************/
/***************************************         .grid-main         ***************************************/
/**********************************************************************************************************/
.grid-main {
  background-color: #FFF;
  padding-bottom: 108px;
  text-align: center;
}

.home-main-top {
  font-family: 'Merriweather', sans-serif;
  position: absolute;
  width: 946px;
  height: 150px;
  margin: -75px calc(50vw - 473px);
  background: #965BA5;
  color: white;
  font-family: Merriweather;
  font-style: italic;
  font-weight: bold;
  font-size: 18px;
  line-height: 38px;
  text-align: center;
}

.home-main-header {
  font-family: Montserrat;
  font-style: normal;
  font-weight: bold;
  font-size: 36px;
  line-height: 30px;
  text-align: center;
  text-transform: uppercase;
  margin: 130px auto 50px auto;  
  color: #965BA5;
}
@media screen and (max-width: 945px) {
  .home-main-top {
    width: 100vw;
    height: 70px;
    margin: 0;
    font-size: 10px;
    line-height: 16px;
  }
}
/************************************************************************************************************/
/***************************************         .grid-footer         ***************************************/
/************************************************************************************************************/
.grid-footer {
  background-color: #965BA5;
}