@import url('https://fonts.googleapis.com/css?family=Merriweather:300i|Montserrat:300,400&display=swap');

body {
  margin: 0;

  font-family: Montserrat, -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

button {
  border: 1px solid #965BA5;
  background-color: #FFF;
  box-sizing: border-box;
  padding: 20px 50px;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 17px;
  text-align: center;
  letter-spacing: 2px;
  text-transform: uppercase;
  color: #965BA5;
}

input {
  font-style: normal;
  font-weight: 300;
}


@media screen and (max-width: 945px) {
  button {
    padding: 2.4vw 5.8vw;
    font-size: 3vw;
  }
}